body{
    margin: 0;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
}

.accordian{
    max-width: 600px;
    display: block;
    margin: 100px auto;
}

.accordian .card{
    box-shadow: 0px 0px 20px #d4d4d4;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.accordian .card .card-header h3{
    cursor: pointer;
    color: #ffffff;
    position: relative;
    background-color: #3343a2;
    margin: 0;
    padding: 15px 20px;
}

.accordian .card .card-header{
    position: relative;
}

.accordian .card .card-header span{
    position: absolute;
    right: 20px;
    top: 12px;
    height: 25px;
    width: 25px;
    color: #3343a2;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
}

.accordian .card .card-body{
    padding: 20px;    
}

.accordian .card .card-body{
    display: none;
}

.accordian .card:nth-child(1) .card-body{
    display: block;
}

.accordian .card .card-body p{
    font-size: 15px;
    line-height: 24px;
    color: #444444;
    margin: 0px;
} 